<mat-toolbar>
  <mat-toolbar-row class="top-bar">
    <span class="example-spacer"></span>
    <div>
      <mat-icon fontIcon="recent_actors" class="top-bar-icon"></mat-icon>
      <span class="top-bar-title">Phone Book App</span>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row class="sub-bar">
    <span class="sub-bar-title">Contacts</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="onAddContact()">
      <mat-icon>add</mat-icon>Add Contact
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<div class="search-bar">
  <mat-form-field appearance="fill" class="search-form">
    <span matPrefix> </span>
    <input
      #searchInput
      matInput
      placeholder="Search for contacts by last name..."
      name="search"
      [(ngModel)]="search"
    />
    <span matSuffix mat-button><mat-icon>search</mat-icon></span>
  </mat-form-field>
</div>

<br />

<div
  class="contacts-list"
  *ngFor="let entry of filteredEntries; trackBy: trackByItems"
>
  <mat-card class="contact-card">
    <mat-card-title>{{ entry.firstName }} {{ entry.lastName }} </mat-card-title>
    <mat-card-subtitle class="contact-number">
      <mat-icon>call</mat-icon>
      {{ entry.phoneNumber }}</mat-card-subtitle
    >
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="onEditContact(entry)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="warn" (click)="onDeleteContact(entry.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
